.content {
  grid-column: 2 / 3;

  background-color: var(--bgc-dark-primary);

  &-projects {
    &__nav {
      padding: 0rem 5rem 0rem 5rem;

      background-color: var(--bgc-dark-primary);
    }
    &__name {
      font-size: 3.2rem;
      margin-bottom: 2rem;
    }
    &__list {
      list-style-type: none;
      height: 5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__element {
        text-transform: uppercase;
        cursor: pointer;
        transition: transform 0.2s;
        &:hover {
          transform: scale(1.1);
          color: var(--link-color);
        }
      }
      margin-bottom: 5rem;
    }
  }

  &-preview {
    padding: 1rem;
    border-radius: 1.5rem;
    background-color: var(--bgc-dark-secondary);
    margin: 0rem 5rem 0rem 5rem;
    line-height: 2.2rem;
    height: 85.5vh;

    &__name {
      text-transform: uppercase;
      margin-bottom: 1rem;
      span {
        font-size: 1.2rem;
      }
    }
    &__desc {
      font-size: 1.7rem;
      p {
        margin-bottom: 1rem;
      }
      &__list {
        list-style-type: none;
        &__element {
        }
        margin-bottom: 1rem;
      }
      &__film {
        margin-bottom: 1rem;
      }
    }

    &__video {
      width: 70%;
    }
  }
}
