:root {
  --bgc-dark-primary: #212529;
  --bgc-dark-secondary: #343a40;
  --bgc-grey-primary: #e9ecef;
  --link-color: #a5d8ff;
  --link-color-hover: #4dabf7;
  --link-color-active: #1c7ed6;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-size: 1.6rem;
}

.home {
  height: 100svh;
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  grid-template-rows: 1fr;
  background-color: var(--bgc-dark-primary);
  color: var(--bgc-grey-primary);
}

a:link {
  text-decoration: none;
  color: var(--link-color);
}

a:visited {
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  text-decoration: none;
  color: var(--link-color-hover);
}

a:active {
  text-decoration: none;
  color: var(--link-color-active);
}
