.profile {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.2fr 0.2fr 0.2fr 0.7fr;
  padding: 2rem 2rem 0rem 2rem;
  font-size: 1.8rem;
  @media only screen and (max-width: 850px) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  &__img {
    width: 90%;
    justify-self: center;
    border-radius: 50%;
    @media only screen and (max-width: 850px) {
      width: 50%;
    }

  }

  &__socials {
    &__block {
      display: flex;
      justify-content: space-between;
      margin: 0rem 10rem;
      img {
        width: 5.2rem;
        height: 5.2rem;
        border-radius: 50%;

        transition: transform 0.3s;

        &:hover {
          transform: scale(1.3);
        }
      }
    }
  }
  &__desc {
    margin-bottom: 1rem;
    &__btn{
      border:none;
      background-color: transparent;
      color: #fff;
      font-size: 2.4rem;
      cursor:pointer;
    }
  }

  &__list {
    list-style-type: "- ";
    margin-left: 1rem;
    &__element {
      cursor: default;
      &:hover {
        color: var(--link-color);
      }
    }
  }
}
