.profile {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.2fr 0.2fr 0.2fr 0.7fr;
  padding: 2rem 2rem 0rem 2rem;
  font-size: 1.8rem;
  &__img {
    width:90%;
    justify-self: center;
    border-radius: 50%;
  }

  &__socials {
    &__block {
      display: flex;
      justify-content: space-between;
      margin: 0rem 10rem;
      img {
        width: 5.2rem;
        height: 5.2rem;
        border-radius: 50%;
      }
    }
  }
  &__desc {
    margin-bottom: 1rem;
  }

  &__list {
    list-style-type: none;
    &__element {
    }
  }
}
